.inputSearch {
    width: 600px;
    height: 50px;
    direction: rtl;
    border: solid 0.2px;
    border-radius: 50px;
    font-family: 'heebo';
    font-weight: 500;
    padding-right: 25px;
    font-size: 17px;
    color: #4D3F5A;
    background: url('../../Assets/Icons/Icon\ awesome-search.svg') no-repeat scroll 20px 14px;
}

.inputpopup {
    width: 95%;
    height: 30px;
    direction: rtl;
    border: solid 0.8px;
    border-radius: 50px;
    font-family: 'heebo';
    font-weight: 500;
    padding-right: 25px;
    font-size: 17px;
    color: #4D3F5A;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #4D3F5A;
}