@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);

ul {
    list-style-type: none;
}

.rc-pagination {
    display: flex;
    align-items: center;
}


.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next {
    cursor: pointer;
}

.rc-pagination-item a,
.rc-pagination-prev button,
.rc-pagination-next button {
    height: auto;
    min-width: 15px;
    min-height: 32px;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #adb5bda6 !important;
}

.rc-pagination-item.rc-pagination-item-active a {
    color: #4d3f5a !important;

}