.container {
    width: 90%;
    display: inline-block;
}

.up {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.title {
    font-size: 30px;
    color: #4d3f5a;
    font-weight: 500;
}

.closeicon {
    cursor: pointer;
}

.label {
    text-align: right;
    font-size: 19px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #4d3f5a;

}

.savebtn {
    width: 134px;
    height: 50px;
    background: #EE7E54 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
    font-family: 'heebo';
    color: white;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.message {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'heebo';
    color: #4d3f5a;

}