.tablecontainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    direction: rtl;
    font-family: 'heebo';
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    color: #4d3f5a;
    font-size: 19px;
    text-align: right;
}


th {
    padding: 8px;
    text-align: right;
    padding-right: 50px;
    background: #c6cbd142;
}

td {
    padding: 15px;
    padding-right: 50px;
    background: white;
    border-bottom: 0.5px solid #ddd;
    height: 60px;
    font-weight: 500;

}

.noResult {
    color: #4d3f5a;
    margin: 5%;
}

.phone {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 10px;
}

.iconstable {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 30px;
    cursor: pointer;

}



.iconscontainer {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.iconcopy {
    margin-top: 2px;
    cursor: pointer;

}

.edit {
    width: 29px;
    height: 29px;
    background: url("../../Assets/Icons/Icon\ material-edit\ \(3\).svg") no-repeat;
}

.edit:hover {
    background: url("../../Assets/Icons/Icon\ material-edit\ hover.svg") no-repeat;

}

.delete {
    width: 29px;
    height: 29px;
    background: url("../../Assets/Icons/Icon\ material-delete.svg") no-repeat;
}

.delete:hover {
    background: url("../../Assets/Icons/Icon\ material-delete\ hover.svg") no-repeat;

}